@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
}

body {
  background-color: #fafafa;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  padding: 20px 20px 40px 20px;
}

main {
  max-width: 760px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 130px -50px var(--qwik-light-purple);
  overflow: hidden;
}

h1,
h2 {
  margin: 0 0 5px 0;
}

.lightning {
  filter: hue-rotate(180deg);
}

section {
  padding: 20px;
  border-bottom: 10px solid var(--qwik-dark-blue);
}

ul {
  list-style-type: square;
  margin: 5px 0 30px 0;
  padding-left: 25px;
}

li {
  padding: 8px 0;
}

li::marker {
  color: var(--qwik-light-blue);
}

a,
a:visited {
  color: var(--qwik-dark-blue);
}

a:hover {
  text-decoration: none;
}

table.commands {
  margin: 0 0 30px 0;
}

.commands td {
  padding: 5px;
}

.commands td:first-child {
  white-space: nowrap;
  padding-right: 20px;
}

code {
  font-family: Menlo, Monaco, Courier New, monospace;
  font-size: 0.9em;
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  border-radius: 3px;
  border-bottom: 2px solid #bfbfbf;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.btn {
  @apply mx-2 my-2 bg-white transition duration-150 ease-in-out rounded text-gray-800 border border-gray-300 px-6 py-2 text-xs hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-gray-800;
}
